[submodule "thirdparty/SOIL"]
	path = thirdparty/SOIL
	url = https://github.com/burtonageo/SOIL
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule ".\\thirdparty\\gl3w"]
	path = .\\thirdparty\\gl3w
	url = https://github.com/skaslev/gl3w
